<div class="card">
      <div class="card-content">
        <div class="card-header">
          <h5 class="card-title">{{(user.id == 0 || user.id == undefined) ? 'Create': 'Update'}} User</h5>
        </div>
        <div class="card-body">
            <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
                <div>
                    <input type="text" 
                    class="form-control my-2" 
                    placeholder="name" 
                    name="name" 
                    [(ngModel)]="user.name" 
                    #name = "ngModel">

                    @if(errors?.name){
                        <div class="text-danger">{{ errors.name }}</div>
                    }
                </div>
                <div>
                    <input type="text" 
                    class="form-control my-2" 
                    placeholder="lastname" 
                    name="lastName"
                    [(ngModel)]="user.lastname" 
                    #lastName = "ngModel">  <!-- required -->

                    @if(errors?.lastname){
                        <div class="text-danger">{{ errors.lastname }}</div>
                    }
                </div>
                <div>
                    <input type="email" 
                    class="form-control my-2" 
                    placeholder="email" 
                    name="email" 
                    [(ngModel)]="user.email" 
                    #email = "ngModel">  <!-- required email-->

                    @if(errors?.email){
                        <div class="text-danger">{{ errors.email }}</div>
                    }
                </div>
                <div>
                    <input type="text" 
                    class="form-control my-2" 
                    placeholder="username" 
                    name="username" 
                    [(ngModel)]="user.username" 
                    #username = "ngModel">

                    @if(errors?.username){
                        <div class="text-danger">{{ errors.username }}</div>
                    }
                </div>
                @if(user.id == 0 || user.id == undefined){
                    <div>
                        <input type="password" 
                        class="form-control my-2" 
                        placeholder="password" 
                        name="password" 
                        [(ngModel)]="user.password"  
                        #password = "ngModel">

                        @if(errors?.password){
                            <div class="text-danger">{{ errors.password }}</div>
                        }
                    </div>
                }
                <div>
                    <button 
                        type="submit" 
                        class="btn btn-primary my-2"
                        >
                        {{(user.id > 0) ? 'Update': 'Create'}}
                    </button>
                    <button 
                        type="button" 
                        class="btn btn-danger my-2  mx-2" (click)="clear(userForm)">
                        Clear
                    </button>
                </div>
            </form>
        </div>
      </div>
  </div>

